In [1]:
import os, inspect
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
CURR_DIR =  os.path.dirname(inspect.getabsfile(inspect.currentframe()))
ROOT_DIR =  os.path.dirname(CURR_DIR)

path = os.path.join(ROOT_DIR,"enron","data", "ext")
ffname = os.path.join(path, "enron-recipients.csv")
df_recipients = pd.read_csv(ffname, parse_dates=["datetime"])
ffname = os.path.join(path, "enron-senders.csv")
df_senders = pd.read_csv(ffname, parse_dates=["datetime"])
print(df_recipients.shape, df_senders.shape)

(435816, 2) (205661, 2)

In [10]:
df_sender_counts = df_senders.groupby("sender")["sender"].count()
df_sender_counts = df_sender_counts.to_frame(name="sent")
df_sender_counts.head()

(15214, 1)

In [9]:
df_recipient_counts = df_recipients.groupby("recipient")["recipient"].count()
df_recipient_counts = df_recipient_counts.to_frame(name="received")
df_recipient_counts.head()

(28774, 1)

In [31]:
df_counts = df_sender_counts.join(df_recipient_counts, how="outer") \
    .fillna(0) \
    .applymap(lambda x: int(x)) \
    .sort_values(by="sent", ascending=False)
df_counts.head(10)

                   sent  received
jeff dasovich      5232      2249
sara shackleton    4591      5217
pete davis         3898       853
chris germany      3703      1591
notes              3314      1023
vince kaminski     2937      3046
matthew lenhart    2832       448
debra perlingiere  2611       469
gerald nemec       2353      3301
announcements      2243         5